*.csv
*.npy

/h36m/
/h36m/*

# Datasets Folder
datasets

# Weights Folder
weights

# PyCache
__pycache__/

# .DS_Store 
.DS_Store

# Datasets Folder
datasets

# Weights Folder
weights
final_weights

# Model Output Folder
model_outputs
